<!DOCTYPE html>
<html>
    <style>
        center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        a.button {
            width: 8em;
            height: 4em;
            padding: 1em;
            margin: 2em;
            text-decoration: none;
            cursor: pointer;
            border: none;
            border-radius: 0.5em;
            color: black;
            background-color: #3e86df;
        }
    </style>
    <body>
        <p>Hi, we have received a request to reset your password for your Hero's Journey account. To change your password please click the link below.</p>
        <br>
        <div class="center">
            <a class="button" href="http://localhost:5173/change-password?token={{.Token}}">Reset password</a>
        </div>
        <br>
        <p>If this was not you kindly ignore this message.</p>
        <p>Regards,</p>
        <p>The Hero's Journey Team</p>
    </body>
</html>