/* Variables */
:root {
    --light-blue: #c6e1ff;
    --ocean-blue: #84addf;
    --steel-blue: #3b6593;
    --light-green: #b0eda0;
    --dark-gray: #cacaca;
    --light-red: #f98181;
    --selection-highlight: #c1f0ff;
}

html {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display: none;
}

.landing-page {
    background-image: url("../assets/images/backgrounds/landing_page_background.avif");
}

.character-creation {
    background-image: url("../assets/images/backgrounds/character_creation_background.avif");
}

.character-selection {
    background-image: url("../assets/images/backgrounds/character_selection_background.avif");
}